@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

.bg {
  &.maroto {
    background:#0f1e32;
    color: #8796af;
  }
  &.light-grey {
    background:#eeeeee;
  }
}

html {
  font-family: 'Roboto Slab', serif;
  overflow-x:auto;
  overflow-y:scroll;
}

[layout=row] {
  flex-direction: row;
}

div.container-principal {
  position:Absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

.stage-principal {
  md-grid-list {
      width:80%;
      margin:0 auto;
      md-grid-tile {
        background: #666;
      }
  }
}
// injector
// endinjector
